# Archivos y carpetas de VS
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
/Views/

# Binarios
[Bb]in/
[Oo]bj/
[Ll]og/

# Archivos temporales
*.tmp
*.temp
*.log

bin/
obj/
.vs/
*.user
*.suo
*.db
*.log